.customm-formm button {
    text-transform: uppercase;
    letter-spacing: 0.10em;
    border: none;
    font-size: 0.870rem;
    color: #ffffff;
    font-weight: bold;
    background-color: #bcd8c1;
    width: 100%;
    display: block;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    cursor: pointer;
  }
  body#medicos{
    background:url(https://image.freepik.com/foto-gratis/borrosa-resumen-antecedentes-vista-interior-mirando-fuera-vacio-vestibulo-oficina-puertas-entrada-pared-cortina-vidrio-marco_1339-6358.jpg);
    margin: 0;
    padding: 0;
    padding-bottom: 20%;
    background-size: cover;
    background-position: center;
  }