html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #f3f4f4;
    color: #007ac1;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 19px;
  }
  body#dashboard{
    background:url(https://fondosmil.com/fondo/6721.jpg);
    margin: 0;
    padding: 0;
    padding-bottom: 30%;
    background-size: cover;
    background-position: center;
  }
