body#medicos{
    background:url(https://image.freepik.com/foto-gratis/borrosa-resumen-antecedentes-vista-interior-mirando-fuera-vacio-vestibulo-oficina-puertas-entrada-pared-cortina-vidrio-marco_1339-6358.jpg);
    margin: 0;
    padding: 0;
    padding-bottom: 20%;
    background-size: cover;
    background-position: center;
  }